.footer {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.footer > h3 {
  display: block;
  font-size: 1.8rem;
  margin: .8rem auto 0;
  width: 100%;
  padding-bottom: .4rem;  
}

.icons {
  padding: 1.6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.icons > a {
  display: block;
  height: max-content;
  font-size: 4.8rem;
  margin: 0 1.6rem;
  color: inherit;
}

.icons > a,
.icons > a:visited {
  text-decoration: none;
  color: inherit;
}